.home-page-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  margin-top: 150px;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.desktop-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-page-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-right: 200px;
}

.input-field-title {
  align-self: flex-start;
  margin-bottom: 15px !important;
  width: 250px;
}

.input-field-spec {
  width: 250px;
}

.input-specs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spec-field {
  display: flex;
  margin-bottom: 10px;
  align-self: flex-start;
  /* align-items: center; */
}

.spec-icon-btn {
  align-self: center;
  margin: 10px;
}

.bank-price-container {
  display: flex;
}

.price-tag-title {
  border: 1px solid black;
  margin-top: -7px;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bolder;
  height: 65px;
  line-height: 1.8;
}

.price-tag-spec {
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 20px;
  border-top: none;
  min-height: 250px;
}

.bank-price-container {
  border: 1px solid black;
  border-top: none;
}

.price-tag-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 2px;
  padding: 10px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-bottom: none;
  font-size: 1.3rem;
}

.bank-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  /* padding: 10px; */
}

.bank-logo {
  width: 50px;
}

.ambank-logo {
  border-radius: 15%;
}

.price-tag-price {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  padding: 10px;
  font-size: 1.3rem;
}

.price-tag-rm {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rm {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 13px;
}

.bulan-price {
  font-weight: bolder;
  font-size: 3rem;
}

.bulan,
.harga,
.selling-price {
  font-weight: bold;
}

.harga {
  margin-top: 30px;
}

.price-tag-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  font-size: 0.75rem;
  padding: 10px;
}

.add-btn-container {
  display: flex;
  align-self: flex-start;
}

.add-btn {
  width: 250px;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  page-break-after: always;
}

/* .price-tag-head-logo {
  width: 400px;
} */

.all-width {
  width: 400px;
}

.price-tag-container {
  display: flex;
  flex-direction: column;
  margin-bottom: -180px;
}

.price-tag-print-container {
  page-break-after: always;
  margin-top: -50px;
}

/* @media (max-width: 850px) {
  .home-page-container {
    flex-direction: column;
    gap: 50px;
  }
} */

@media print {
  .navbar-container,
  .alert-container {
    display: none !important;
  }

  /* @page {
    size: A4;
    margin: 0;
  } */
}
