.home-page-container {
    display: flex;
}

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.desktop-navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hover-effect:hover {
    /* Add your hover effect styles here */
    background-color: lightgray; /* For example, change background color on hover */
}
