/* .home-page-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  margin-top: 150px;
} */

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.desktop-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-page-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  margin-top: 150px;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-right: 200px;
}

.input-field-title {
  align-self: flex-start;
  margin-bottom: 15px !important;
  width: 250px;
}

.input-field-spec {
  width: 250px;
}

.input-specs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spec-field {
  display: flex;
  margin-bottom: 10px;
  align-self: flex-start;
}

.spec-icon-btn {
  align-self: center;
  margin: 10px;
}

.bank-price-container {
  display: flex;
  height: 165px;
}

.price-tag-title {
  border: 1px solid black;
  margin-top: -7px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  height: 45px;
  line-height: 1.9;
  padding: 5px;
}

.price-tag-spec {
  border: 1px solid black;
  font-size: 0.8rem;
  border-top: none;
  height: 220px;
}

.bank-price-container {
  border: 1px solid black;
  border-top: none;
}

.price-tag-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
  padding: 8px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-bottom: none;
  font-size: 1rem;
}

.bank-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bank-logo {
  width: 38px;
}

.ambank-logo {
  border-radius: 15%;
}

.price-tag-price {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  /* padding: 8px; */
  font-size: 0.9rem;
  padding-right: 20px;
}

.price-tag-rm {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rm {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 13px;
}

.bulan-price {
  font-weight: bolder;
  font-size: 3rem;
}

.bulan,
.harga,
.selling-price {
  font-weight: bold;
}

.harga {
  margin-top: 20px;
}

.price-tag-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  font-size: 0.7rem;
  padding: 5px;
}

.add-btn-container {
  display: flex;
  align-self: flex-start;
}

.add-btn {
  width: 250px;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-page-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  page-break-after: always;
  z-index: 7;
}

.all-width {
  width: 400px;
}

.price-tag-container {
  display: flex;
  flex-direction: column;
}

.price-tag-print-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  page-break-after: always;
}

.home-page-pricetag-container {
  align-self: self-start;
}

.price-tag-page-title {
  margin-top: 20px;
  padding: 70px;
}

@media only screen and (max-width: 1100px) {
  .home-page-container {
    padding: 0;
  }
  .input-field-container {
    padding: 0;
    justify-content: flex-start;
  }
}

@media print {
  .price-tag-page-title,
  .navbar-container,
  .alert-container {
    display: none !important;
  }
}
